<div  fxLayout="row">


  <div fxFlex.gt-sm="15%">
                     
  </div> 
  
  <div class="boxWindow">
  
    <!-- <div style="margin:5px;font-size: 18px;"> -->
<!-- <h1> -->
  <div class="boxTopTitle" >
    <div  >
     "our business areas expertise"
    </div>
 
    <br>
  </div>
 

<!-- <br>
  <a style="color:red;font-size: 14px;" href="https://wexflow.github.io">View wexFlow</a>
</h1>
   -->
      <div class="boxContent"  fxLayout.gt-sm="row wrap" fxLayout="column" fxLayoutAlign="space-around center" >

  
     
        <mat-card class="matCardPage" >
          <mat-card-header>
            <mat-card-title class="cardx" >

               
              <img style="margin-left: 5px;"
              width="50"
              alt="HR Systems"
              src="../assets/imgs/hr.png"
               />
               <br>
            Human Resources Modules
            <br>
            ________________________
           
            
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content" >

               Personnel Information Management <br>
                 Time and Attendance Management <br>
                 Recruitment <br>
                 Payroll  <br>
                 Staff Training <br>
                 Staff Appraisal <br>

            
             <!-- <hr>
               Our consulting services address the following areas:

              <br>
              Integration of data from multiple, heterogeneous data sources
              <br>
              Data cleansing and profiling to improve data quality
              <br>
              Master data management
              <br>
              Metadata management to ensure data lineage and history  

               <ul style="text-align: left;">
              <li >  Integration of data from multiple, heterogeneous data sources</li>
              <li>  Data cleansing and profiling to improve data quality</li>
              <li>  Master data management</li>
              <li>Metadata management to ensure data lineage and history</li>
              
            </ul>  -->


          </mat-card-content>
        </mat-card>
        <mat-card class="matCardPage" >
          <mat-card-header>
            <mat-card-title class="cardx" >
           
             
              
              <img style="margin-left: 5px;"
              width="50"
              alt="Retail Systems)"
              src="../assets/imgs/retail.png"
               />
               <br>
             
             Retail
             <br>
             ________________________
           
            
              
               
              
              
           
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
             
          
           
           
            Point of Sales <br>
            Back of the House <br>
            Customer Loyalty  <br>
            BI Reports <br>
            SAP Integration <br>
            3PL Integration <br>
            
            
            
          </mat-card-content>
        </mat-card>
        <mat-card class="matCardPage" >
          <mat-card-header>
            <mat-card-title class="cardx" >
           
              
              
                <img style="margin-left: 5px;"
            width="50"
            alt="Banking Systems)"
            src="../assets/imgs/bank.png"
             />
             <br>
           Banking
           <br>
           ________________________
           
          
            
              
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
             
            Bank Teller System <br>
            Remittance Systems <br>
            Signature Verification Systems <br>
            Treasury Systems <br>

            
           
          </mat-card-content>
        </mat-card>
     


        <mat-card class="matCardPage" >
          <mat-card-header>
            <mat-card-title class="cardx" >
           
              
              
                <img style="margin-left: 5px;"
            width="50"
            alt="Sysbit Training Services"
            src="../assets/imgs/training.png"
             />
             <br>
             Training
             <br>
             ________________________
          
            
              
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
             
           We provide training on company or individual level for: 
           <br>

           C# <br>
           Angular<br>
           React <br>
           Java-Kotlin <br>
           ASP.Net <br>
           MongoDb <br>
           SQL Sever <br>
           mySQL<br>
           
           
          
          </mat-card-content>
        </mat-card>
     
     
 
   

      </div>
  
      <div class="boxTitle">
        <mat-card class="matCardSub" >
            <mat-card-header>
              <mat-card-title>
             
                <button mat-icon-button >
                  <img
              width="50"
              alt="Desktop Development"
              src="../assets/imgs/desktop.png"
              />
               </button>
               
             </mat-card-title>
           </mat-card-header>
           <mat-card-content class="dashboard-card-content">
              <div>Desktop Application</div> 
             
             
            </mat-card-content>
          </mat-card>
    </div>
  </div>
  
  <div fxFlex.gt-sm="15%">
                     
  </div> 
  
  </div>