<div  fxLayout="row">


  <div fxFlex.gt-sm="15%">
                     
  </div> 
  
  <div class="boxWindow">
  
    <!-- <div style="margin:5px;font-size: 18px;"> -->
<!-- <h1> -->
  <div class="boxTopTitle" >
    <div  >
      "we provide the workflow engine with no monthly fees"
    </div>
 
    <br>
  </div>
 

<!-- <br>
  <a style="color:red;font-size: 14px;" href="https://wexflow.github.io">View wexFlow</a>
</h1>
   -->
      <div class="boxContent"  fxLayout.gt-sm="row wrap" fxLayout="column" fxLayoutAlign="space-around center" >

  
       
        <mat-card class="matCardPage" >
          <mat-card-header>
            <mat-card-title class="cardx" >
           
              
              
                <img style="margin-left: 5px;"
            width="50"
            alt="Human Resources"
            src="../assets/imgs/hr.png"
             />
             <br>
            
              Human Resources 
              <br>
              ________________________
           
              
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content" >

             
           <ul>
             <li>Recruitment</li>
             <li>Onboarding\Offboarding</li>
             <li>Leave Request</li>
             <li>Timesheet tracking</li>
             <li>Performance appraisals</li>
             <li>Employee engagement</li>
           
   

           </ul>
           
          </mat-card-content>
        </mat-card>
        <mat-card class="matCardPage" >
          <mat-card-header>
            <mat-card-title class="cardx" >
           
              
               
                <img style="margin-left: 5px;"
            width="50"
            alt="General Affairs Department"
            src="../assets/imgs/ga.png"
             />
             <br>
             General Affairs 
             <br>
             ________________________
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
             
           <ul>
             <li>Meeting room management</li>
             <li>Vehicle management</li>
             <li> Office suppliers management</li>
             <li> Business card printing</li>
             <li> Gift management</li>
             <li> Bulletin</li>

      
             

           </ul>
           
          </mat-card-content>
        </mat-card>
        <mat-card class="matCardPage" >
          <mat-card-header>
            <mat-card-title class="cardx" >
           
              
              
                <img style="margin-left: 5px;"
            width="50"
            alt="Information Technology"
            src="../assets/imgs/it.png"
             />
             <br>
             Information Technology 
             <br>
             ________________________
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
             
           <ul>
             <li>IT ticketing system</li>
           
             <li>Network resource management</li>
             <li>IT incident management</li>
             <li>System account management</li>
             <li>IT Application development</li>
             <li>User License management</li>



           </ul>
           
          </mat-card-content>
        </mat-card>
        <mat-card class="matCardPage" >
          <mat-card-header>
            <mat-card-title class="cardx" >
           
              
                
              
          
                <img style="margin-left: 5px;"
            width="50"
            alt="Procurement"
            src="../assets/imgs/procure.png"
             />
             <br>
             Procurement    
             <br>
             ________________________
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
             
           <ul>


             <li>Vendor Registration</li>
             <li>Purchase Order management</li>
             <li>Tendering management</li>
             <li>Price history</li>
             <li>Supplier development</li>
             <li>Supplier Evaluation</li>
           </ul>
           
          </mat-card-content>
        </mat-card>
        <mat-card class="matCardPage" >
          <mat-card-header>
            <mat-card-title class="cardx" >
                
          
              <img style="margin-left: 5px;"
              width="50"
              alt="Finance Department"
              src="../assets/imgs/fin.png"
               />
               <br>
               Finance  
               <br>
             ________________________
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
             
           <ul>


             <li>Business trips/expenses</li>
             <li>Budget and expense control</li>
             <li>Fix Asset management</li>
             <li>Invoice management</li>
             <li>Payment Application</li>
             <li>Cash Management</li>
             <li>Investment Management</li>
           </ul>
           
          </mat-card-content>
        </mat-card>
     
        <mat-card class="matCardPage" >
          <mat-card-header>
            <mat-card-title class="cardx" >
           
              
               
                <img style="margin-left: 5px;"
            width="50"
            alt="Customer Service Department"
            src="../assets/imgs/customer.png"
             />
             <br>
             Customer Service 
             <br>
             ________________________
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
             
           <ul>

  

             <li>Complaint management</li>
             <li>Technical support</li>
             <li>Ticketing system</li>
             <li>Change Request</li>
             <li>Service quality tracking</li>
             <li>Phone call tracking</li>
             <li>Satisfaction feedback survey
            </li>
           </ul>
           
          </mat-card-content>
        </mat-card>
     
     
        <mat-card class="matCardPage" >
          <mat-card-header>
            <mat-card-title class="cardx" >
           
              
               
                <img style="margin-left: 5px;"
            width="50"
            alt="Marketing"
            src="../assets/imgs/market.png"
             />
             <br>
            Marketing
             <br>
             ________________________
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
             
           <ul>

            

             <li>Customer master data</li>
             <li> Product master data</li>
             <li> Product promotion application</li>
             <li>Quotation management</li>
             <li> Marketing expense application</li>
             <li>Marketing event management</li>
             <li> ROI analysis </li>
           </ul>
           
          </mat-card-content>
        </mat-card>
        <mat-card class="matCardPage" >
          <mat-card-header>
            <mat-card-title class="cardx" >
           
              
               
                <img style="margin-left: 5px;"
            width="50"
            alt="Process Automation"
            src="../assets/imgs/legal.png"
             />
            <br>
                 
                    Legal 
                    <br>
       
             ________________________
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
             
           <ul>



             <li>Digital contract templates</li>
             <li> Contract approval Process</li>
             <li>Contract Risks Library</li>
             <li>Legal negotiation</li>
             <li>Contract compliance control</li>
             <li>Historical contract management</li>
             <li>Digital sign application </li>
           </ul>
           
          </mat-card-content>
        </mat-card>


      </div>
  
      <div class="boxTitle">
          <mat-card class="matCardSub"  >
              <mat-card-header>
                <mat-card-title>
               
                  <button mat-icon-button >
                    <img
                width="50"
                alt="Process Automation"
                src="../assets/imgs/pa.png"
                 />
                  </button>
                  
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="dashboard-card-content">
                 <div>Process Automation</div> 
               
               
              </mat-card-content>
            </mat-card>
      </div>
  
  </div>
  
  <div fxFlex.gt-sm="15%">
                     
  </div> 
  
  </div>