<!-- 
    <p>Sysbit Solutions is a Singapore based business solution provider with an office in Jakarta. We translate technologies into value for our customers. </p>
  
    <br>
  
    <p>We are a small and lean organization comprising of 2 Agile development teams. 
      Each team comprises of 3 full stack developers and a shared scrum master. 
      In most cases our customers provide a product owner who we communicate with through remote connection before the start of each iteration (sprint),
      for planning what goes into iteration backlog, and at the end of each iteration for demo.  </p>
    
    <br>
    
    <p>Our typical iteration, other than the first iteration, lasts about 2 weeks at end of which we always have something to demo. On our first sprint we target to produce a minimum viable product or a proof of concept. </p>
    
    <br>
  
    <p>We strive to aim for a 2 weeks first iteration and we would advise if it would take longer for the first iteration before we begin the iteration. </p>
    
    <br>
  
    <p>Our contracts are very agile and we allow customers to add, change or remove product features before each iteration but not during an iteration. Our cost is based on each iteration. When we quote, we base our cost on the number of iterations we would require from customer's initial feature requirement of the value (product) they want to receive. We allow customers to exit the contract before the start of each iteration if they desire 
      and todate no customer has excercised that option.  </p>
    
    <br>
  
    
    
    <p>&mdash; Coding is Love</p> -->

    <div class="grid-container">
      <div class="col">
          <figure class="grid-item"><img src="https://source.unsplash.com/QZwf5yNopUo" 
                                         alt="red panda lying on brown tree branch">
          </figure>
      </div>
      <div class="col">
          <figure class="grid-item">
              <img src="https://source.unsplash.com/91LFdXy0FA0" alt="the liver building, livepool UK">
          </figure>
      </div>
      <div class="col">
          <figure class="grid-item">
              <img src="https://source.unsplash.com/wYy3rvvgjAU" alt="leopard on top of grey rock">
          </figure>
   
      </div>
      <div class="col">
          <figure class="grid-item"><img src="https://source.unsplash.com/lpjb_UMOyx8" alt="lake louise between two moutains">
          </figure>
      </div>
      <div class="col">
          <figure class="grid-item">
              <img src="https://source.unsplash.com/eOpewngf68w" alt="blue and brown steel bridge">
          </figure>
      </div>
      <div class="col">
          <figure class="grid-item"><img src="https://source.unsplash.com/LI748t0BK8w" alt="curved road between mountains">
          </figure>
      </div>
      <div class="col">
          <figure class="grid-item">
              <img src="https://source.unsplash.com/tGTVxeOr_Rs" alt="A tree under blue sky">
   
          </figure>
      </div>
      <div class="col">
          <figure class="grid-item">
              <img src="https://source.unsplash.com/IicyiaPYGGI" alt="orange flowers ">
          </figure>
      </div>
      <div class="col">
          <figure class="grid-item">
               <img src="https://source.unsplash.com/jFCViYFYcus" alt="a walking path in a forest">
          </figure>
      </div>
      <div class="col">
           <figure class="grid-item">
              <img src="https://source.unsplash.com/oR0uERTVyD0" alt="aerial view of ocean waves">
          </figure>
      </div>
      <div class="col">
           <figure class="grid-item"><img src="https://source.unsplash.com/4rDCa5hBlCs" 
                                          alt="low angle of trees at day break">
           </figure>
      </div>
      <div class="col">
          <figure class="grid-item">
              <img src="https://source.unsplash.com/OjQgsR1oyEw" alt="an eagle flying on skies">
          </figure>
      </div>
   </div>
