<div  fxLayout="row">


<div fxFlex.gt-sm="15%">
                   
</div> 

<div class="boxWindow">

    <div class="boxContent">
            item1
    </div>

    <div class="boxTitle">
        <mat-card class="matCard" >
            <mat-card-header>
              <mat-card-title>
             
                <button mat-icon-button >
                  <img
              width="50"
              alt="Cloud Solutions"
              src="../assets/imgs/cloud.png"
               />
                </button>
                
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
               <div>Cloud Solutions</div> 
             
             
            </mat-card-content>
          </mat-card>
    </div>

</div>

<div fxFlex.gt-sm="15%">
                   
</div> 

</div>