<div  fxLayout="row" fxLayoutAlign="space-around center">


    <div fxFlex.gt-sm="15%">
                       
    </div> 
             
              <mat-card class="matCardPage" >
                <mat-card-header>
                  <mat-card-title class="cardx" >
  
                     
                    <img style="margin-left: 5px;"
                    width="50"
                    alt="Sysbit Email Address"
                    src="../assets/imgs/email.png"
                     />
                     <br>
                 Nana Rosnawati  <br>
               <div style="font-size: 12px;">
                <br>
                 Jakarta Office 
                </div>
                  <br>
                  ___________________
                 
                  
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content" >
      
                    nana@sysbit.com
                        
                 
  
                </mat-card-content>
              </mat-card>
            
              <div fxFlex.gt-sm="15%">
                       
            </div> 
                     
        </div> 