<div  fxLayout="row">


  <div fxFlex.gt-sm="15%">
                     
  </div> 
  
  <div class="boxWindow">
  
    <h1>
      We help get the most out of Microsoft BI solutions
         
        </h1>
          <div class="boxContent"  fxLayout.gt-sm="row wrap" fxLayout="column" fxLayoutAlign="space-around center" >
    
      
           
            <mat-card class="matCardPage" >
              <mat-card-header>
                <mat-card-title class="cardx" >

                   
                  <img style="margin-left: 5px;"
                  width="50"
                  alt="SQL Server Integration Services (SSIS)"
                  src="../assets/imgs/ssis.png"
                   />
                   <br>
                   SQL Server Integration Services (SSIS)
                   <hr>
               
                  <!-- <div id="photo" style="text-align: center">
                    <img style="vertical-align:middle"  width="50" src="../assets/imgs/hr.png" alt="SQL Server Integration Services (SSIS)">
                    <span style="vertical-align:top;margin-left: 5px;">SQL Server Integration Services (SSIS)</span>
                  </div> -->
<!-- 
                  <div id="photo" style="text-align: center">
                    <img width="50" style="vertical-align:middle" src="../assets/imgs/hr.png" alt="">
                    <span style="vertical-align:middle">SQL Server Integration Services (SSIS)</span>
                  </div>
                   
                  <hr> -->
                   <!-- <img style="margin: 5px;vertical-align:middle;"
                width="50"
                alt="SQL Server Integration Services (SSIS)"
                src="../assets/imgs/hr.png"
                 />
                 <span>
                 SQL Server Integration Services (SSIS) 
                </span> -->
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="dashboard-card-content" >
    
                
                 Data from source system is extracted, 
                 transform and loaded into a data 
                 warehouse or other analytics repository.

                 <!-- <hr>
                   Our consulting services address the following areas:

                  <br>
                  Integration of data from multiple, heterogeneous data sources
                  <br>
                  Data cleansing and profiling to improve data quality
                  <br>
                  Master data management
                  <br>
                  Metadata management to ensure data lineage and history  

                   <ul style="text-align: left;">
                  <li >  Integration of data from multiple, heterogeneous data sources</li>
                  <li>  Data cleansing and profiling to improve data quality</li>
                  <li>  Master data management</li>
                  <li>Metadata management to ensure data lineage and history</li>
                  
                </ul>  -->


              </mat-card-content>
            </mat-card>
            <mat-card class="matCardPage" >
              <mat-card-header>
                <mat-card-title class="cardx" >
               
                 
                  
                  <img style="margin-left: 5px;"
                  width="50"
                  alt="SQL Server Analysis Services (SSAS)"
                  src="../assets/imgs/ssas.png"
                   />
                   <br>
                   SQL Server Analysis Services (SSAS)
                   <hr>
                  
                  
               
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="dashboard-card-content">
                 
              
               
               Data sets are organized into analytics data models or OLAP cubes 
               to prepare them for analysis.
              
               
              </mat-card-content>
            </mat-card>
            <mat-card class="matCardPage" >
              <mat-card-header>
                <mat-card-title class="cardx" >
               
                  
                  
                    <img style="margin-left: 5px;"
                width="50"
                alt="SQL Server Reporting Services (SSRS)"
                src="../assets/imgs/ssrs.png"
                 />
                 <br>
                 SQL Server Reporting Services (SSRS)
                 <hr>
                
                  
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="dashboard-card-content">
                 
               Analytical queries are run against the data and results are built into 
               data visualizations, dashboards, reports and online portals.
               
              </mat-card-content>
            </mat-card>
         
    
    
          </div>
      <div class="boxTitle">
          <mat-card class="matCardSub" >
              <mat-card-header>
                <mat-card-title>
               
                  <button mat-icon-button >
                    <img
                width="50"
                alt="Business Intelligence"
                src="../assets/imgs/bi.png"
                 />
                  </button>
                  
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="dashboard-card-content">
                 <div>Business Intelligence</div> 
               
               
              </mat-card-content>
            </mat-card>
      </div>
  
  </div>
  
  <div fxFlex.gt-sm="15%">
                     
  </div> 
  
  </div>