<div  fxLayout="row">


  <div fxFlex.gt-sm="15%">
                     
  </div> 
  
  <div class="boxWindow">
  
    <!-- <div style="margin:5px;font-size: 18px;"> -->
<!-- <h1> -->
  <div class="boxTopTitle" >
    <div  >
      "our expertise in mobile apps"
    </div>
 
    <br>
  </div>
 

<!-- <br>
  <a style="color:red;font-size: 14px;" href="https://wexflow.github.io">View wexFlow</a>
</h1>
   -->
      <div class="boxContent"  fxLayout.gt-sm="row wrap" fxLayout="column" fxLayoutAlign="space-around center" >

  
     
     
        <mat-card class="matCardPage" >
          <mat-card-header>
            <mat-card-title class="cardx" >

               
              <img style="margin-left: 5px;"
              width="50"
              alt="Coding"
              src="../assets/imgs/orchestra.png"
               />
               <br>
               App Code
               <br>
               ________________________
            
           
              <!-- <div id="photo" style="text-align: center">
                <img style="vertical-align:middle"  width="50" src="../assets/imgs/hr.png" alt="SQL Server Integration Services (SSIS)">
                <span style="vertical-align:top;margin-left: 5px;">SQL Server Integration Services (SSIS)</span>
              </div> -->
<!-- 
              <div id="photo" style="text-align: center">
                <img width="50" style="vertical-align:middle" src="../assets/imgs/hr.png" alt="">
                <span style="vertical-align:middle">SQL Server Integration Services (SSIS)</span>
              </div>
               
              <hr> -->
               <!-- <img style="margin: 5px;vertical-align:middle;"
            width="50"
            alt="SQL Server Integration Services (SSIS)"
            src="../assets/imgs/hr.png"
             />
             <span>
             SQL Server Integration Services (SSIS) 
            </span> -->
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content" >

             We specialize in: 
            <hr>
             iOS (iPhone/iPad Development)<br>
             Android (Java/Kotlin Development)<br>
             React Native  (Cross Platfrom)<br>
             Xamrin  (Cross Platfrom)<br>
             Ionic/Cordova  (Hybrid Development)<br>


             <!-- <ul style="font-size: 13px;">
                      <li>iOS (iPhone/iPad Development)<br>
                      <li>Android (Java/Kotlin Development)<br>
                      <li>React Native  (Cross Platfrom)<br>
                      <li>Xamrin  (Cross Platfrom)<br>
                      <li>Ionic/Cordova  (Hybrid Development)<br>

             </ul> -->
             
             <!-- iOS (iPhone/iPad Development), Android (Java / Kotlin Development), ReactJS and React Native and several backend technologies.
             -->
              <!-- Be it mobile, web, or wearable, our team of app developers makes amazing Android, iOS, Hybrid, Native mobile apps along with custom web apps and enterprise solutions. You name it, we have it! -->

             <!-- <hr>
               Our consulting services address the following areas:

              <br>
              Integration of data from multiple, heterogeneous data sources
              <br>
              Data cleansing and profiling to improve data quality
              <br>
              Master data management
              <br>
              Metadata management to ensure data lineage and history  
-->
        


          </mat-card-content>
        </mat-card>
        <mat-card class="matCardPage" >
          <mat-card-header>
            <mat-card-title class="cardx" >
           
             
              
              <img style="margin-left: 5px;"
              width="50"
              alt="UI\UX"
              src="../assets/imgs/transport.png"
               />
               <br>
              UI\UX Design
               <br>
               ________________________
            
              
           
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
             
             


              We want your app to have more than just good looking designs. 
              We use UI\UX desgin concepts to offer unforgettable user experiences.
              
           </mat-card-content>
        </mat-card>
     
        <mat-card class="matCardPage" >
          <mat-card-header>
            <mat-card-title class="cardx" >
           
              
              
                <img style="margin-left: 5px;"
            width="50"
            alt="Mediation)"
            src="../assets/imgs/mediation.png"
             />
             <br>
            Strategy
             <br>
             ________________________
          
            
              
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
           
              We use the following proven delivery strategy: 
              <hr>

              NDA Signing and Initial Brief<br>
              Agreement <br>
              UI\UX design <br>
              Minimum Viable Product<br>
              Complete Product<br>
              Deployment to Production<br>
              Post production support<br>

              <!-- <ul style="font-size: 13px;">
             

                  <li>NDA Signing and Initial Brief<br>
                  <li>Agreement <br>
                  <li>UI\UX design <br>
                  <li>Minimum Viable Product<br>
                  <li>Complete Product<br>
                  <li>Deployment to Production<br>
                  <li>Post production support<br>

         </ul> -->
          </mat-card-content>
        </mat-card>
       

        <mat-card class="matCardPage" >
          <mat-card-header>
            <mat-card-title class="cardx" >
           
              
              
                <img style="margin-left: 5px;"
            width="50"
            alt="Sysbit Training"
            src="../assets/imgs/training.png"
             />
             <br>
             Training
             <br>
             ________________________
          
            
              
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
             
           We provide training on company or individual level for: 
           <hr>
           iOS (iPhone/iPad Development)<br>
           Android (Java/Kotlin Development)<br>
           React Native  (Cross Platfrom)<br>
           Xamrin  (Cross Platfrom)<br>
           Ionic/Cordova  (Hybrid Development)<br>

           
          
          </mat-card-content>
        </mat-card>
     
     
 
   

      </div>
  
      <div class="boxTitle">
        <mat-card class="matCardSub" >
            <mat-card-header>
              <mat-card-title>
             
                <button mat-icon-button >
                  <img
              width="50"
              alt="Mobile Apps Development"
              src="../assets/imgs/mobile.png"
               />
                </button>
                
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
               <div>Mobile App Development</div> 
             
             
            </mat-card-content>
          </mat-card>
    </div>
  </div>
  
  <div fxFlex.gt-sm="15%">
                     
  </div> 
  
  </div>