<div  fxLayout="row"  fxLayoutAlign="space-around center" style="margin-top:5px;background-color: black;" >
      
 
  <div fxLayout="column" >
     <h1 style="margin-top:5px;background-color: black;font-weight: bolder;margin-bottom: 0px;color:white">Scaled Agile Framework (SAFe) Training</h1>
     <div style="font-size: 50%;margin-top: 0px;margin-bottom: 20px;color:white">Framework for scaling Agile </div>
      </div>
  </div>
  

  <div fxLayout="row" fxLayout="row wrap"  fxLayoutAlign="space-around center" style="margin-top:20px;" >   
    
    <div fxFlex.gt-sm="15%">
                      
    </div>   
    
   
  
  
   <mat-card class="matCard" (click)="clickCard('ssm')">
     <mat-card-header>
       <mat-card-title>
      
        
           <img
       width="50"
       alt="SAFe Scrum Master"
       src="../assets/imgs/ssm.png"
        />
       
       
         
       </mat-card-title>
     </mat-card-header>
     <mat-card-content class="dashboard-card-content">
         <div>Scrum Master</div>  
        <br>
     </mat-card-content>
     <mat-card-footer style="background-color: black;">
      <mat-icon style="margin:0px;color:white;">keyboard_arrow_down</mat-icon>
    </mat-card-footer>
   </mat-card>
   
   <mat-card class="matCard" (click)="clickCard('pmpo')">
    <mat-card-header>
      <mat-card-title>
     
      
          <img
      width="50"
      alt="SAFe Product Owner/Product Manager"
      src="../assets/imgs/pmpo.png"
       />
        
        
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
       <div>Product Owner/Manager</div> 
       
    </mat-card-content>
    <mat-card-footer style="background-color: black;">
      <mat-icon style="margin:0px;color:white;">keyboard_arrow_down</mat-icon>
    </mat-card-footer>
  </mat-card>
   
       
   <mat-card class="matCard" (click)="clickCard('agile')">
     <mat-card-header>
       <mat-card-title>
      
         
           <img
       width="50"
       alt="SAFe Agilist"
       src="../assets/imgs/agile.png"
        />
       
         
       </mat-card-title>
     </mat-card-header>
     <mat-card-content class="dashboard-card-content">
        <div>SAFe Agilist</div> 
        <br>
        
     </mat-card-content>
     <mat-card-footer style="background-color: black;">
      <mat-icon style="margin:0px;color:white;">keyboard_arrow_down</mat-icon>
    </mat-card-footer>
   </mat-card>
   
 
 
   <mat-card class="matCard" fxHide fxShow.gt-sm  (click)="clickCard('mobile')">
     <mat-card-header>
       <mat-card-title>
      
        
           <img
       width="50"
       alt="Mobile Applications"
       src="../assets/imgs/devops.png"
        />
      
         
       </mat-card-title>
     </mat-card-header>
     <mat-card-content class="dashboard-card-content">
        <div>SAFe DevOps</div> 
         <br>
     </mat-card-content>
     <mat-card-footer style="background-color: black;">
      <mat-icon style="margin:0px;color:white;">keyboard_arrow_down</mat-icon>
    </mat-card-footer>
   
   </mat-card>
 
   
   <mat-card class="matCard" fxHide fxShow.gt-sm  (click)="clickCard('desktop')">
     <mat-card-header>
       <mat-card-title>
      
        
           <img
       width="50"
       alt="Desktop Applications"
       src="../assets/imgs/sp.png"
        />
     
         
       </mat-card-title>
     </mat-card-header>
     <mat-card-content class="dashboard-card-content">
        <div>SAFe for Teams</div> 
     
     </mat-card-content>
     <mat-card-footer style="background-color: black;">
      <mat-icon style="margin:0px;color:white;">keyboard_arrow_down</mat-icon>
    </mat-card-footer>

   </mat-card>
   
   <mat-card class="matCard" fxHide fxShow.gt-sm (click)="clickCard('fullStack')">
     <mat-card-header>
       <mat-card-title>
      
         
           <img
       width="50"
       alt="Full-Stack Development"
       src="../assets/imgs/sasm.png"
        />
       
         
       </mat-card-title>
     </mat-card-header>
     <mat-card-content class="dashboard-card-content">
        <div>
            Advance Scrum Master</div> 
      
     </mat-card-content>
     <mat-card-footer style="background-color: black;">
      <mat-icon style="margin:0px;color:white;">keyboard_arrow_down</mat-icon>
    </mat-card-footer>
   </mat-card> 
 
 
  
   <div fxFlex.gt-sm="15%">
                      
   </div>  
   
 
 
   
 </div>

 <div fxLayout="row" fxLayout="row wrap"  fxLayoutAlign="space-around center" style="margin-top:20px;" >   
    
  <div fxFlex.gt-sm="15%">
                    
  </div>   
  
 

 
 
 
     




  <mat-card class="matCard" fxShow fxHide.gt-sm  (click)="clickCard('mobile')">
    <mat-card-header>
      <mat-card-title>
     
        
          <img
      width="50"
      alt="Mobile Applications"
      src="../assets/imgs/devops.png"
       />
       
        
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
       <div>SAFe DevOps</div> 
       <br>
    </mat-card-content>
    <mat-card-footer style="background-color: black;">
      <mat-icon style="margin:0px;color:white;">keyboard_arrow_down</mat-icon>
    </mat-card-footer>
  
  </mat-card>

  
  <mat-card class="matCard" fxShow fxHide.gt-sm  (click)="clickCard('desktop')">
    <mat-card-header>
      <mat-card-title>
     
       
          <img
      width="50"
      alt="Desktop Applications"
      src="../assets/imgs/sp.png"
       />
       
        
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
       <div>SAFe for Teams</div> 
       
    </mat-card-content>
    <mat-card-footer style="background-color: black;">
      <mat-icon style="margin:0px;color:white;">keyboard_arrow_down</mat-icon>
    </mat-card-footer>
  </mat-card>
  
  <mat-card class="matCard" fxShow fxHide.gt-sm (click)="clickCard('fullStack')">
    <mat-card-header>
      <mat-card-title>
     
       
          <img
      width="50"
      alt="Full-Stack Development"
      src="../assets/imgs/sasm.png"
       />
       
        
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
       <div>
           Advance Scrum Master</div> 
       <!-- <mat-icon style="margin:0px;color:black;">keyboard_arrow_down</mat-icon> -->
    </mat-card-content>
    <mat-card-footer style="background-color: black;">
      <mat-icon style="margin:0px;color:white;">keyboard_arrow_down</mat-icon>
    </mat-card-footer>
   
  </mat-card> 



 <div fxFlex.gt-sm="15%">
                    
 </div>  
 


 
</div>

<div  fxLayout="row"  fxLayoutAlign="space-around center" style="margin-top:25px;background-color: black;" >
      
 
  <div fxLayout="column" >
     <h1 style="margin-top:5px;background-color: black;font-weight: bolder;margin-bottom: 0px;color:white">Custom Software Development</h1>
     <div style="font-size: 50%;margin-top: 0px;margin-bottom: 20px;color:white">We translate technology into customer gains. </div>
      </div>
  </div>
  

  <div fxLayout="row" fxLayout="row wrap"  fxLayoutAlign="space-around center" style="margin-top:20px;" >   
    
    <div fxFlex.gt-sm="15%">
                      
    </div>   
    
   
   <!-- <mat-card class="matCard" (click)="clickCard('pa')">
     <mat-card-header>
       <mat-card-title>
        
        
           <img
       width="50"
       alt="Process Automation"
       src="../assets/imgs/pa.png"
        />
      
         
       </mat-card-title>
     </mat-card-header>
     <mat-card-content class="dashboard-card-content">
        <div>Process Automation
          <br>
        
         
        </div> 
        <mat-card-footer style="background-color: black;">
          <mat-icon style="margin:0px;color:white;">keyboard_arrow_down</mat-icon>
        </mat-card-footer>
     </mat-card-content>
         
   </mat-card> -->
  
   <mat-card class="matCard" (click)="clickCard('pa')">
    <mat-card-header>
      <mat-card-title>
     
       
          <img
      width="50"
      alt="Business Intelligence"
      src="../assets/imgs/pa.png"
       />
      
        
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
       <div>Process Automation</div> 
     
    </mat-card-content>
    <mat-card-footer style="background-color: black;">
     <mat-icon style="margin:0px;color:white;">keyboard_arrow_down</mat-icon>
   </mat-card-footer>
  </mat-card>
  

   <mat-card class="matCard" (click)="clickCard('bi')">
     <mat-card-header>
       <mat-card-title>
      
        
           <img
       width="50"
       alt="Business Intelligence"
       src="../assets/imgs/bi.png"
        />
       
         
       </mat-card-title>
     </mat-card-header>
     <mat-card-content class="dashboard-card-content">
        <div>Business Intelligence</div> 
      
     </mat-card-content>
     <mat-card-footer style="background-color: black;">
      <mat-icon style="margin:0px;color:white;">keyboard_arrow_down</mat-icon>
    </mat-card-footer>
   </mat-card>
   
   
       
   <mat-card class="matCard" (click)="clickCard('esb')">
     <mat-card-header>
       <mat-card-title>
      
        
           <img
       width="50"
       alt="Enterprise Service Bus"
       src="../assets/imgs/esb.png"
        />
        
         
       </mat-card-title>
     </mat-card-header>
     <mat-card-content class="dashboard-card-content">
        <div>Enterprise Service Bus</div> 
        
     </mat-card-content>
     <mat-card-footer style="background-color: black;">
      <mat-icon style="margin:0px;color:white;">keyboard_arrow_down</mat-icon>
    </mat-card-footer>
   </mat-card>
   
 
 
   <mat-card class="matCard" fxHide fxShow.gt-sm  (click)="clickCard('mobile')">
     <mat-card-header>
       <mat-card-title>
      
      
           <img
       width="50"
       alt="Mobile Applications"
       src="../assets/imgs/mobile.png"
        />
        
         
       </mat-card-title>
     </mat-card-header>
     <mat-card-content class="dashboard-card-content">
        <div>Mobile Applications</div> 
        
     </mat-card-content>
     <mat-card-footer style="background-color: black;">
      <mat-icon style="margin:0px;color:white;">keyboard_arrow_down</mat-icon>
    </mat-card-footer>
   
   </mat-card>
 
   
   <mat-card class="matCard" fxHide fxShow.gt-sm  (click)="clickCard('desktop')">
     <mat-card-header>
       <mat-card-title>
      
       
           <img
       width="50"
       alt="Desktop Applications"
       src="../assets/imgs/desktop.png"
        />
       
         
       </mat-card-title>
     </mat-card-header>
     <mat-card-content class="dashboard-card-content">
        <div>Desktop Applications</div> 
        
     </mat-card-content>
     <mat-card-footer style="background-color: black;">
      <mat-icon style="margin:0px;color:white;">keyboard_arrow_down</mat-icon>
    </mat-card-footer>
   </mat-card>
   
   <mat-card class="matCard" fxHide fxShow.gt-sm (click)="clickCard('fullStack')">
     <mat-card-header>
       <mat-card-title>
      
       
           <img
       width="50"
       alt="Full-Stack Development"
       src="../assets/imgs/fullstack.png"
        />
       
       </mat-card-title>
     </mat-card-header>
     <mat-card-content class="dashboard-card-content">
        <div>
            Full-Stack Development</div> 
        
     </mat-card-content>
     <mat-card-footer style="background-color: black;">
      <mat-icon style="margin:0px;color:white;">keyboard_arrow_down</mat-icon>
    </mat-card-footer>
   </mat-card> 
 
 
  
   <div fxFlex.gt-sm="15%">
                      
   </div>  
   
 
 
   
 </div>

 <div fxLayout="row" fxLayout="row wrap"  fxLayoutAlign="space-around center" style="margin-top:20px;" >   
    
  <div fxFlex.gt-sm="15%">
                    
  </div>   
  
 

 
 
 
     



 <mat-card class="matCard" fxShow fxHide.gt-sm (click)="clickCard('mobile')">
   <mat-card-header>
     <mat-card-title>
    
    
         <img
     width="50"
     alt="Mobile Applications"
     src="../assets/imgs/mobile.png"
      />
       
     </mat-card-title>
   </mat-card-header>
   <mat-card-content class="dashboard-card-content">
      <div>Mobile Applications</div> 
      
   </mat-card-content>
   <mat-card-footer style="background-color: black;">
    <mat-icon style="margin:0px;color:white;">keyboard_arrow_down</mat-icon>
  </mat-card-footer>
 
 </mat-card>

 
 <mat-card class="matCard" fxShow fxHide.gt-sm (click)="clickCard('desktop')">
   <mat-card-header>
     <mat-card-title>
    
      
         <img
     width="50"
     alt="Desktop Applications"
     src="../assets/imgs/desktop.png"
      />
      
       
     </mat-card-title>
   </mat-card-header>
   <mat-card-content class="dashboard-card-content">
      <div>Desktop Applications</div> 
     
   </mat-card-content>
   <mat-card-footer style="background-color: black;">
    <mat-icon style="margin:0px;color:white;">keyboard_arrow_down</mat-icon>
  </mat-card-footer>
 </mat-card>
 
 <mat-card class="matCard" fxShow fxHide.gt-sm (click)="clickCard('fullStack')">
   <mat-card-header>
     <mat-card-title>
    
       
         <img
     width="50"
     alt="Full-Stack Development"
     src="../assets/imgs/fullstack.png"
      />
  
       
     </mat-card-title>
   </mat-card-header>
   <mat-card-content class="dashboard-card-content">
      <div>
          Full-Stack Development</div> 
      
   </mat-card-content>
   <mat-card-footer style="background-color: black;">
    <mat-icon style="margin:0px;color:white;">keyboard_arrow_down</mat-icon>
  </mat-card-footer>
 </mat-card> 



 <div fxFlex.gt-sm="15%">
                    
 </div>  
 


 
</div>