<div  fxLayout="row">


  <div fxFlex.gt-sm="15%">
                     
  </div> 
  
  <div class="boxWindow">
  
    <!-- <div style="margin:5px;font-size: 18px;"> -->
<!-- <h1> -->
  <div class="boxTopTitle" >
    <div  >
      "our fullstack combos"
    </div>
 
    <br>
  </div>
 

<!-- <br>
  <a style="color:red;font-size: 14px;" href="https://wexflow.github.io">View wexFlow</a>
</h1>
   -->
      <div class="boxContent"  fxLayout.gt-sm="row wrap" fxLayout="column" fxLayoutAlign="space-around center" >

  
             
        <mat-card class="matCardPage" >
          <mat-card-header>
            <mat-card-title class="cardx" >

               
              <img style="margin-left: 5px;"
              width="50"
              alt="Front End Development"
              src="../assets/imgs/frontend.png"
               />
               <br>
            Front End
            <br>
            _____________________
           
            
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content" >

            We  develop using the following front-end frameworks: 
            <hr>
               Angular<br>
               React <br>
               Java-Kotlin <br>
               ASP.Net <br>
               C# <br>
               
            
             <!-- <hr>
               Our consulting services address the following areas:

              <br>
              Integration of data from multiple, heterogeneous data sources
              <br>
              Data cleansing and profiling to improve data quality
              <br>
              Master data management
              <br>
              Metadata management to ensure data lineage and history  

               <ul style="text-align: left;">
              <li >  Integration of data from multiple, heterogeneous data sources</li>
              <li>  Data cleansing and profiling to improve data quality</li>
              <li>  Master data management</li>
              <li>Metadata management to ensure data lineage and history</li>
              
            </ul>  -->


          </mat-card-content>
        </mat-card>
        <mat-card class="matCardPage" >
          <mat-card-header>
            <mat-card-title class="cardx" >
           
             
              
              <img style="margin-left: 5px;"
              width="50"
              alt="Back End Development"
              src="../assets/imgs/backend.png"
               />
               <br>
             
             Backend
             <br>
             ________________________
            
              
               
              
              
           
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
             
          
            We  use the following backend technologies: 
            <hr>
           
           Node/Express <br>
           ASP.net <br>
           WSO2 Api Manager
          
            
            
            
          </mat-card-content>
        </mat-card>
        <mat-card class="matCardPage" >
          <mat-card-header>
            <mat-card-title class="cardx" >
           
              
              
                <img style="margin-left: 5px;"
            width="50"
            alt="Database Development"
            src="../assets/imgs/db.png"
             />
             <br>
           Data Storage
           <br>
           ________________________
          
            
              
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
           
            Data is stored in the following backend databases: 
            <hr>
            MongoDb <br>
            SQL Sever <br>
            mySQL
            

            
           
          </mat-card-content>
        </mat-card>
     
     


        <mat-card class="matCardPage" >
          <mat-card-header>
            <mat-card-title class="cardx" >
           
              
              
                <img style="margin-left: 5px;"
            width="50"
            alt="Sysbit Training Services"
            src="../assets/imgs/training.png"
             />
             <br>
             Training
             <br>
             ________________________
          
            
              
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
             
           We provide training on company or individual level for: 
        <hr>

           C# <br>
           Angular<br>
           Java-Kotlin <br>
           ASP.Net <br>
           MongoDb <br>
           SQL Sever <br>
           mySQL<br>
           
           
          
          </mat-card-content>
        </mat-card>
     
     
 
   

      </div>
  
      <div class="boxTitle">
        <mat-card class="matCardSub" >
            <mat-card-header>
              <mat-card-title>
             
                <button mat-icon-button >
                  <img
              width="50"
              alt="Full Stack Development"
              src="../assets/imgs/fullstack.png"
              />
               </button>
               
             </mat-card-title>
           </mat-card-header>
           <mat-card-content class="dashboard-card-content">
              <div>FullStack Development</div> 
             
             
            </mat-card-content>
          </mat-card>
    </div>
  </div>
  
  <div fxFlex.gt-sm="15%">
                     
  </div> 
  
  </div>